# Python
venv/
__pycache__/
*.pyc
.env

# Project specific
/debug/
/debug1/*
!/debug1/.gitkeep
/images/*
!/images/.gitkeep
/input/*
!/input/.gitkeep
/output/*
!/output/.gitkeep
/dbimage/*
!/dbimage/.gitkeep
bottle/
capitolo2/
favicon.ico
img_scarpe/


# Legacy/Extra
/cod_inutile/
/FeetAndShoeMeasurement/
/immagini/